@font-face {
   font-family: 'SYFY_Hero-Regular.woff2';
   font-display: swap;
   src: url('file:///C:/Users/titin/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-10-14_155732/fonts/SYFY_Hero-Regular.woff2/font.ttf');
}
